@import 'scss/variables';

.welcome {
	p {
		text-align: justify;
		
		a, a:visited {
			color: $color-primary-light;
			text-decoration: none;
		}
	
		a:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width: 768px) {
	.content.welcome {
		margin: 5px 10px;
	}
}
