@import 'variables';

.btn {
	background: transparent;
	color: inherit;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;

	&.primary {
		background: linear-gradient(135deg, $color-primary, #7c3399);
		box-shadow: $box-shadow-sm;
		color: $color-text;

		&:active {
			box-shadow: 0 0 4px rgba(6, 17, 6, 0.4);
		}
	}

	&:active {
		transform: translateY(2px);
		outline: none;
	}

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline-color: $color-primary;
	}
}
