@import 'scss/variables';

$color-input: darken($color-background, 5%);

input, textarea {
	display: block;
	//background: inherit;
	background: $color-input;
	color: inherit;
	border: none;
	padding: 10px;

	&:focus {
		outline: none;
		border: 1px solid $color-primary-light;
		caret-color: $color-primary-light;
		color: $color-primary-light;
	}

	&::placeholder {
		color: $gray-400;
	}
}

.form-group {
	width: 100%;
	padding: 10px 0;
	display: flex;
	flex-direction: column;

	textarea {
		min-height: 100px;
		resize: vertical;
	}
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}