.center {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.content-sm {
	max-width: 468px;
	margin: auto;
}

.content {
	max-width: 924px;
	margin: auto;
	padding: 5px;
}

@media (min-width: 769px) {
	.show-sm {
		display: none;
	}
}

@media (max-width: 768px) {
	.hide-sm {
		display: none !important;
	}
}