$border-color: #fff;

.markdown-content {
	blockquote {
		box-shadow: $box-shadow-sm;
		padding: 5px 20px;
		background: $color-background-light;
	}
	
	a, a:visited {
		color: $color-primary-light;
		text-decoration: none;
	}

	table {
		border-color: $border-color;
		border-spacing: 0;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;

		th {
			border-bottom: 1px dashed $border-color;
		}

		td, th {
			padding: 0 10px;
		}
	}
}

textarea {
	font-family: 'Ubuntu Mono', monospace;
}