@import 'scss/variables';

.panel {
	background: $color-background-light;
	margin: 10px;
	padding: 10px;

	input, textarea {
		background: $color-background;
	}
}

.phantom-panel {
	background: transparent;
	border: 2px dashed $color-primary;
	padding: 10px 20px;

	input, textarea {
		background: darken($color-background, 3%);
	}
}

/*
.panel-header {
	border-bottom: 1px solid $color-primary;
	width: auto;
}
*/
