.chapter-container {
	display: flex;
	flex-direction: column;

	.chapter {
		display: flex;
		flex-direction: column;
		padding: 15px 20px;
		transition: all 0.3s;
		cursor: pointer;
		border-left: solid 4px transparent;
		border-radius: 2px;
		margin-bottom: 2px;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		&:hover > .chapter-title, &:active > .chapter-title {
			color: $color-primary-light;
		}

		&.new-posts {
			border-left: solid 4px $color-primary;
			background-color: rgba($color-primary, 0.2)
		}

		.chapter-title {
			text-decoration: none;
		}

		h4.chapter-title {
			margin: 0;

			&:hover {
				text-decoration: underline;
			}
		}

		.link-to-latest a:hover {
			text-decoration: underline;
		}

		.new-content {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $color-primary;
			margin-right: 10px;
		}
	}
}