.edit-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 0;
	overflow: hidden;
	background: darken($color-background, 2%);
	transition: all 0.5s;
	border-top: 0 solid $color-primary;
	color: darken($color-text, 5%);

	textarea {
		background: darken($color-background, 5%);
		height: 200px;
	}

	&.open {
		max-height: 354px;
		border-top: 5px solid $color-primary;
	}
}

.text-muted {
	color: darken($color-text, 50%);
}
