.chapter-container {
	display: flex;
	flex-direction: column;

	.chapter {
		display: flex;
		flex-direction: column;
		//justify-content: space-between;
		padding: 15px 20px;
		transition: all 0.3s;
		cursor: pointer;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		&:hover > .chapter-title, &:active > .chapter-title {
			color: $color-primary-light;
		}

		.chapter-title {
			text-decoration: none;
		}

		h4.chapter-title {
			margin: 0;

			&:hover {
				text-decoration: underline;
			}
		}

		.link-to-latest a:hover {
			text-decoration: underline;
		}

		.new-content {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $color-primary;
			margin-right: 10px;
		}
	}
}