$color-primary: #6f3399;
//$color-primary-light: #8b40bf;
$color-primary-light: #9753c5;
$color-background: #212529;
$color-background-light: lighten($color-background, 10%);
$color-text: #eaeaea;
$color-error: #c43d3d;

$color-secondary: #3d3dc4;
$color-secondary-background: mix($color-secondary, $color-background);
$color-secondary-gradient: linear-gradient(135deg, $color-secondary, #5f3399);

$gray-400: #ced4da;
$gray-800: #343a40;

$box-shadow-sm: 0 2px 4px rgba(6, 17, 6, 0.4);