@import 'scss/variables';


.character-panel {
	background: $color-background-light;
	margin: 10px;
}

.character-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;

	h4 {
		margin: 0;
	}

	.tap-icon {
		padding: 0 10px;
		cursor: pointer;
	}
}

.character-body {
	transition: all 0.5s;
	max-height: 500px;
	overflow: scroll;

	border-top: 1px solid $gray-400;

	&.hide {
		display: block;
		overflow: hidden;
		max-height: 0;
		opacity: 0;
	}

	.field {
		display: grid;
		grid-template-columns: 25% auto;
		padding: 10px 20px;

		@media (max-width: 768px) {
			grid-template-columns: 100%;		
		}

		.field-title {
			color: $color-primary-light;
			font-weight: bold;
		}

		.text {
			text-align: justify;
		}
	}
}
