@import 'scss/variables';


h1.title {
	margin-bottom: 0.2em;
}

.post-list {
	.post {
		border-top: 1px solid $color-background-light;
	}

	.post:last-child {
		border-bottom: 1px solid $color-background-light;
	}

	.post {
		display: flex;
		flex-direction: row;

		.post-author {
			font-weight: bold;
			color: $color-primary-light;
		}

		.post-header, .post-body {
			padding: 10px 20px;

			@media (max-width: 768px) {
				padding: 10px;
			}
		}

		.post-body {
			color: #eaeaea;

			.post-author,
			.post-date {
				margin-right: 20px;
			}
			.post-date {
				color: #aaa;
				font-size: 0.9em;
			}
			.post-author {
				font-size: 1.1em;
			}
		}

		.post-header {
			display: flex;
			flex-direction: column;
			align-items: center; 
			text-align: center;

			.post-date {
				font-size: 12px;
			}
			.avatar {
				max-width: 80px;
				@media (max-width: 768px) {
					max-width: 50px;
				}
			}
		}

		.post-text {
			text-align: justify;
		}
	}
}

.mt-10 {
	margin-top: 10px;
}