@import 'scss/variables';

.content {
	max-width: 924px;
	margin: auto;
}

h1.title {
	margin-bottom: 0.2em;
}

.post-list {
	background: $color-background-light;
	box-shadow: $box-shadow-sm;

	.post:not(:first-child) {
		border-top: 1px solid $color-background;
	}

	.post {
		display: grid;
		grid-template-columns: 25% auto;

		.post-header, .post-body {
			padding: 10px 20px;
		}

		.post-header {
			display: flex;
			flex-direction: column;
			align-items: center; 
			text-align: center;
			background: mix($gray-800, $color-background);

			.post-author {
				font-weight: bold;
				color: $color-primary-light;
			}
			.post-date {
				font-size: 12px;
			}
		}

		.post-body {
		}
	}
}