@import 'scss/variables';


h1.title {
	margin-bottom: 0.2em;
}

.post-list {
	.post {
		border-bottom: 1px solid $color-background-light;
	}

	.post:first-child {
		border-top: 1px solid darken($color-text, 20%);
	}

	.post {
		display: flex;
		flex-direction: row;

		&.meta .post-body {
			color: darken($color-text, 50%);
		}

		.post-author {
			font-weight: bold;
			color: $color-primary-light;
		}

		.post-header, .post-body {
			padding: 10px 20px;

			@media (max-width: 768px) {
				padding: 10px;
			}
		}

		.post-body {
			color: #eaeaea;
			width: 100%;

			button {
				color: #eaeaea;
			}

			.post-body-header {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}
			.post-date {
				color: #aaa;
				font-size: 0.8em;
			}
			.post-author {
				font-size: 1.1em;
			}
			.post-tag {
				color: $color-text;
				background: $color-secondary-gradient;
				text-transform: uppercase;
				font-weight: bold;
				padding: 5px 10px;
				border-radius: 4px;
			}
		}

		.post-header {
			display: flex;
			flex-direction: column;
			align-items: center; 
			text-align: center;

			.post-date {
				font-size: 12px;
			}
			.avatar {
				max-width: 80px;
				@media (max-width: 768px) {
					max-width: 50px;
				}
			}
		}

		.post-text {
			text-align: justify;
		}
	}
}

.mt-10 {
	margin-top: 10px;
}

.mb-324 {
	margin-bottom: 324px;
}